venv
.env
documentation/F25-139 AI Report.pdf
documentation/F25-139 Turnitin Report.pdf
documentation/F25-139.pptx
frontend/node_modules
frontend/dist/
frontend/tsconfig.tsbuildinfo
documentation/F25-139 - mid FYP 2.rar
documentation/F25-139 - mid.pptx