fastapi
uvicorn
pydantic
openai
google-generativeai
pandas
numpy
python-dotenv
python-multipart
langchain==1.2.12
langchain-community
langchain-core==1.2.19
langchain-text-splitters
langchain-openai
langchain-google-genai
langchain-chroma==1.1.0
chromadb==1.5.5
langchain-huggingface
nltk
PyMuPDF
Pillow
easyocr
psycopg2
sqlalchemy
-e .