fastapi
uvicorn
pydantic
openai
google-generativeai
pandas
numpy
python-dotenv
python-multipart
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
langchain-google-genai
langchain-chroma
chromadb
langchain-huggingface
nltk
PyMuPDF
Pillow
easyocr
psycopg2
sqlalchemy
-e .